body {
    font-family: 'Times New Roman', serif;
    color: #333333; 
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow-x: hidden;
}

h1 {
    font-family: 'Arial', sans-serif;
}

#first-look {
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(pics/upmingb.png);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
    padding: 4rem 1rem;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}
#first-look h1 {
    font-weight:800;
}
#first-look .gotostudentlife {
    background-color: #006747;
    color: white;
    border: none;
    padding: 1rem 2rem;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    margin-top: 1rem;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

#first-look .gotostudentlife:hover {
    background-color: #f1c40f;
    color:#006747;
}

.heading {
    font-family:'Arial', sans-serif;
    background-color: #9b1b30;
    color: white;
    padding:5px;
    width: auto;
    border-bottom: 1px solid #f1c40f;
    text-align: right;
    position: relative;
    
    .logo {
        position: absolute;
        top: 0;
        left: 0;
        font-size: 32px;
        font-weight: 100;
        padding: 26px;
    }
}
  
.navbar a {
    display: inline-block;
    padding: 5px 0;
    margin: 10px 10px;
    margin-right: 20px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    color: #f1c40f;
    font-weight: 500;
    font-size: 18px;
    
    .bar {
      width: 100%;
      display: inline-block;
      border-bottom: 2px solid #f1c40f;
      position: absolute;
      bottom: 0;
      left: 0;
      opacity: 0;
      transition: all 300ms;
    }
    
    &:hover {
      .bar {
        opacity: 1;
        bottom: 5px;
        transform:translateY(-3px);
      }
    }
}

.whitespace {
    background-color:white;
    height: 50px;
}
.qualitypolicy {
    background-color:white;
    height:90%;
    position:relative;
    border-radius:10px;
    background-size:cover;
    margin: -10vh 5% 0 5%; 
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 2;
    padding: 20px 30px 30px 30px;
}

.qualitypolicy h1 {
    color: #006747;
    text-align: center;
}

#geninfo {
    background-color:#9b1b30;
    padding: 2rem 1 rem;
    color:white;
    text-align: center;
    box-sizing:border-box;
}

.geninfo-container {
    display: flex;      
    gap: 20px;            
    max-width: 1200px; 
    margin: 0 auto;       
    flex-wrap: wrap; 
}

.news-events, .announcements {
    flex: 1;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #fff;
}

.news-events h1, .announcements h1 {
    font-size: 30px;
    color: #006747;
    margin-bottom: 20px;
}

.event-item {
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
    border-bottom: 1px solid #f0f0f0;
}

.event-name {
    font-size: 1.1em;
    color: #006747;
    flex: 2;
}
.event-date {
    font-size: 1.1em;
    color: #9b1b30;
    text-align: right;
    flex: 1;
}

.event-item:hover {
    background-color: #f9f9f9;
    cursor: pointer;
}

#culture {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(pics/studentsbg.jpg);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
    box-sizing: border-box;
}

.culture-content {
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

.culture-content h1 {
    margin-top: 45vh;
    font-size: 3rem;
    line-height: 1.2;
    color: #f1c40f;
    font-weight: 700;
    margin-bottom: 15px;
}

.culture-content p {
    font-size: 1.1rem;
    line-height: 1.8;
    color: white;
    margin-bottom: 15px;
}

/* section navbar */

.section-navbar .navbar {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    justify-content: center;
    background-color:#006747;
    padding: 10px 0;
    border-bottom:#f1c40f 1px solid;
}
  
.section-navbar .navbar a {
    text-decoration: none;
    color: #f1c40f;
    padding: 14px 20px;
    text-align: center;
}
  
.section-navbar .navbar a:hover {
    background-color: #f39c12;
    color: #006747;
}

.page {
    display: none;
}
.page:first-child {
    display: block;
}

/*Student tips*/

#tips {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    text-align: center;
    background-color: #f0f0f0;
    overflow:hidden;
    z-index:10;
    padding: 30px 50px;
}

#tips h2 {
    font-size:48px;
    font-weight:bold;
    letter-spacing:2px;
    color:#9b1b30;
    text-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.tips-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    box-sizing: border-box;
}

.tip-wrapper {
    background-color: #9b1b30;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tip {
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
}

.tip h4 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 15px;
    color: #f1c40f;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.tip p {
    font-size: 16px;
    color: #fff;
    margin: 0;
}

/* interactive map */
#map {
    text-align: center;
    padding: 20px;
    background-color:#9b1b30;
    height: 150vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#map h2 {
    font-size: 48px;
    color: #fff;
    margin-bottom: 50px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.map-and-info-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    align-items: flex-start;
    width: 100%;
    margin-top: 20px;
}

.map-container {
    position: relative;
}

.campus-map {
    width: 100%;
    max-width: 400px;
    height: 600px;
    object-fit: contain;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

.campus-map:hover {
    transform: scale(1.05);
}

.location-info {
    padding: 25px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    max-width: 650px;
    font-size: 1.2rem;
    color: #333;
    background-color: rgba(255, 255, 255, 0.8);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-family: 'Times New Roman', Times, serif;
    transition: background-color 0.3s ease;
}

.location-info:hover {
    background-color: rgba(255, 255, 255, 1);
}

#location-title {
    color: #9b1b30;
    font-size: 28px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: uppercase;
    margin-bottom: 15px;
    font-weight: 600;
}

#location-description {
    font-size: 1.1rem;
    color: #555;
    font-weight: 500;
    line-height: 1.5;
    margin-bottom: 20px;
}

#location-image {
    height: 350px;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.map-area {
    cursor: pointer;
    outline: none;
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.map-area:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.map-area:hover ~ .location-info #location-title,
.map-area:hover ~ .location-info #location-description {
    display: block;
}

/* grade calc */

#calculator {
    font-family: 'Inter', sans-serif;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(pics/upmingb.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #333;
    z-index: 10;
    overflow:hidden;
}

#calculator h2 {
    font-size: 48px;
    color: #9b1b30;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.calculator-container {
    background-color:#ddd;
    padding: 20px 20px;
    max-width: 900px;
    margin: 40px auto;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.input-section {
    margin-bottom: 30px;
    padding:12px;
}

.input-section label {
    display: block;
    margin-bottom: 8px;
    font-weight: 600;
    color: #555;
    font-size: 16px;
}

.input-section input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    font-size: 14px;
    transition: border-color 0.3s ease, background-color 0.3s ease;
}

.input-section input:focus {
    border-color: #006747; 
    background-color: #fff;
    outline: none;
}

.input-section button {
    width: 100%;
    padding: 12px;
    background-color: #006747; 
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.input-section button:hover {
    background-color: #f1c40f;
    color:#2c3e50;
}

#subjects-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 30px;
}

#subjects-table th, #subjects-table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
    font-size: 16px;
}

#subjects-table th {
    background-color: #f1c40f;  
    color: #2c3e50;
}

#subjects-table td {
    background-color: #fff;
}

#gwa-display {
    font-size: 24px;
    font-weight: 700;
    color: #9b1b30;
}

.file-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.file-actions button {
    padding: 12px;
    background-color: #006747;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
    flex: 1;
    margin-right: 10px;
}

.file-actions button:last-child {
    margin-right: 0;
}

.file-actions button:hover {
    background-color: #f39c12;
    color:#2c3e50;
}

.file-actions input[type="file"] {
    display: none;
}

/* Programs */
.acad-container {
    border: 1px solid #ccc;
    margin: 10px 40px;
    border-radius: 8px;
    padding: 10px;
    background-color: #f9f9f9;
    transition: all 0.3s ease;
    display: grid;
    grid-template-columns: 1fr;
}

.college {
    cursor: pointer;
    padding: 10px;
    margin-top: 5px;
    background-color: #9b1b30;
    color: white;
    font-size: 1.2rem;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.college:hover {
    background-color: #cc2c47;
}

.program {
    display: none;
    padding: 10px;
    margin-top: 10px;
    background-color: #e9e9e9;
    border-radius: 8px;
}

.program ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.program li {
    padding: 5px;
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 5px;
}

.program li:hover {
    background-color: #d3d3d3;
}

/* Clubs */
#clubs {
    width: 100%;
    margin: 0 auto;
    padding: 50px 20px;
    text-align: center;
    background-color: #f9f9f9;
    border-radius: 15px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
}

#clubs h2 {
    font-size: 48px;
    font-weight: bold;
    color: #9b1b30;
    margin-bottom: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.club-container {
    display: grid;
    margin-bottom: 50px;
    position: relative;
}

.org-titles{
    display:flex;
    gap:10px;
}

.club-scroll-container {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    padding-bottom: 10px;
    scrollbar-width: none;
    -ms-overflow-style: none;
    flex-wrap: nowrap;
    position: relative;
}

.club-scroll-container::-webkit-scrollbar {
    display: none;
}

.club-nav {
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    z-index: 10;
    padding: 0 10px;
    width: 100%;
}

.arrow-btn {
    background: rgba(255, 255, 255, 0.6);
    border: none;
    padding: 10px;
    font-size: 20px;
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.3s ease;
    z-index: 10;
}

.arrow-btn:disabled {
    background-color: #f0f0f0;
    cursor: not-allowed;
}

.left-arrow {
    position: absolute;
    left: 0;
}

.right-arrow {
    position: absolute;
    right: 10px;
}

.club-item {
    position: relative;
    width: 250px;
    height: 250px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
    transition: background-color 0.3s ease, transform 0.3s ease;
    cursor: pointer;
    flex-shrink: 0;
    margin-right: 10px;
}

.club {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    z-index: 1;
    transition: transform 0.3s ease;
}

.club h3 {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.club-item:hover .club {
    transform: scale(1.05);
    background-color: rgba(0, 0, 0, 0.5);
}

.club-description {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    text-align: left;
    font-size: 1rem;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 2;
}

.club-item:hover .club-description {
    visibility: visible;
    opacity: 1;
}

/* facilities */

#facilities {
    background-color:#9b1b30; 
}
.facilities-container {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #9b1b30;
    border-radius: 8px;
    max-width: 800px;
    margin: 0 auto;
}

#facilities h1 {
    font-size: 2.5rem;
    text-align: center;
    color: #f1c40f;
    margin-bottom: 20px;
}

#facilities ul {
    list-style-type: none;
    padding: 0;
}

#facilities li {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
}

#facilities h2 {
    font-size: 1.5rem;
    color: #2c3e50;
    margin: 0;
    margin-bottom: 10px;
}

#facilities address {
    font-style: normal;
    color: #555;
}

#facilities a {
    color: #f39c12;
    text-decoration: none;
}

#facilities a:hover {
    text-decoration: underline;
}

.shs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
}
.shs-container{
    display: flex;
    justify-content: space-between;
}
.shs-content {
    display: flex;
    flex-direction: column;
    margin-right: auto;
}

.shs-button{
    display:flex;
    justify-content: center;
}
.gotoshs{
    background-color: #006747;
    color: white;
    border: none;
    padding: 1rem 2rem;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.gotoshs:hover {
    background-color: #f1c40f;
    color:#006747;
}

